@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Inter";
  font-size: 18px;
  background-color: #141414;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.logo a {
  font-family: "Calistoga";
  font-size: 36px;
  color: #fff;
  text-decoration: none;
}

.logo a span {
  color: #fe6a0f;
}

/* HEADER */

header .container {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  gap: 50px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #000;
}

header nav .leftside {
  display: flex;
  flex: 1;
}

header nav li {
  margin: 0 30px;
}

header nav li a {
  color: #fff;
  text-decoration: none;
}

header nav li a:hover {
  color: #999;
}

header nav .button {
  display: block;
  border: 1px solid #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

header nav .button:hover {
  color: #fe6a0f;
  border-color: #fe6a0f;
}

header .menu {
  display: none;
  flex: 1;
  justify-content: flex-end;
}

header .menu-icon {
  height: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

header .menu-icon div {
  height: 6px;
  width: 30px;
  background-color: #fff;
}

.menuNav {
  display: flex;
}

/*HERO SECTION*/

.hero-text {
  display: flex;
  align-items: end;
}

.hero-text h1 {
  font-family: "Calistoga";
  font-size: 72px;
}

.hero-text img {
  width: 71px;
  height: 85px;
}

.hero-subtext {
  font-size: 20px;
}

.hero-section .button {
  width: 280px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fe6a0f;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.button:hover {
  color: #fff;
  border-color: #fff;
}

/* HERO */

.hero .container {
  display: flex;
}

.hero .leftside,
.hero .rightside {
  flex: 1;
}

.hero .leftside {
  padding-bottom: 150px;
}

.hero .rightside {
  text-align: center;
}

.hero .rightside img {
  width: auto;
  height: 600px;
}

.hero h1 {
  font-family: "Calistoga";
  font-size: 69px;
  line-height: 74px;
  margin-block-start: 50px;
}

.hero p {
  font-family: "Inter";
  font-size: 20px;
  line-height: 26px;
  margin: 40px 0;
}

.hero .button {
  display: inline-block;
  background-color: #fe6a0f;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 15px 80px;
  border-radius: 5px;
}

.hero .button:hover {
  opacity: 0.8;
}

@media (max-width: 820px) {
  .menuNav {
    display: none;
  }

  .menuNav.active {
    display: flex;
  }

  .leftside,
  header nav {
    flex-direction: column;
    gap: 30px;
  }

  .rightside {
    margin-top: 30px;
  }

  header nav .button {
    padding: 10px 20px;
  }

  header .menu {
    display: flex;
  }

  header nav {
    border: 1px solid #333;
    padding: 10px;
    right: 0;
    position: absolute;
    top: 137px;
  }

  .hero .container {
    flex-direction: column;
  }

  .hero .leftside {
    text-align: center;
    padding-bottom: 40px;
  }

  .hero .rightside {
    padding-bottom: 30px;
  }

  .hero .rightside img {
    height: 300px;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 50px;
  }
}
