@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Inter";
  font-size: 18px;
  background-color: #141414;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.logo a {
  font-family: "Calistoga";
  font-size: 36px;
  color: #fff;
  text-decoration: none;
}

.logo a span {
  color: #fe6a0f;
}

/* HEADER */

header .container {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  gap: 50px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
}

header nav .leftside {
  display: flex;
  flex: 1;
}

header nav li {
  margin: 0 30px;
}

header nav li a {
  color: #fff;
  text-decoration: none;
}

header nav li a:hover {
  color: #999;
}

header nav .button {
  display: block;
  border: 1px solid #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

header nav .button:hover {
  color: #fe6a0f;
  border-color: #fe6a0f;
}

header .menu {
  display: none;
  flex: 1;
  justify-content: flex-end;
}

header .menu-icon {
  height: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

header .menu-icon div {
  height: 6px;
  width: 30px;
  background-color: #fff;
}

.menuNav {
  display: flex;
}

/*HERO SECTION*/

.hero-text {
  display: flex;
  align-items: end;
}

.hero-text h1 {
  font-family: "Calistoga";
  font-size: 72px;
}

.hero-text img {
  width: 71px;
  height: 85px;
}

.hero-subtext {
  font-size: 20px;
}

.hero-section .button {
  width: 280px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fe6a0f;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.button:hover {
  color: #fff;
  border-color: #fff;
}

/* HERO */

.hero .container {
  display: flex;
}

.hero .leftside,
.hero .rightside {
  flex: 1;
}

.hero .leftside {
  padding-bottom: 150px;
}

.hero .rightside {
  text-align: center;
}

.hero .rightside img {
  width: auto;
  height: 600px;
}

.hero h1 {
  font-family: "Calistoga";
  font-size: 69px;
  line-height: 74px;
  margin-block-start: 50px;
}

.hero p {
  font-family: "Inter";
  font-size: 20px;
  line-height: 26px;
  margin: 40px 0;
}

.hero .button {
  display: inline-block;
  background-color: #fe6a0f;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 15px 80px;
  border-radius: 5px;
}

.hero .button:hover {
  opacity: 0.8;
}

/* SEARCH */

.search {
  background-color: #1f1f1f;
  padding: 80px 0;
  margin-top: -100px;
}

.search .title {
  font-size: 32px;
  font-weight: 500;
}

.search .slides {
  display: flex;
  margin-top: 30px;
  gap: 100px;
}

.search .leftside,
.search .rightside {
  flex: 1;
}

.search input,
.search select {
  width: 100%;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 24px;
  outline: none;
  padding: 20px;
  border: 0;
  border-radius: 5px;
}

.search input {
  background-image: url("/assets/searchIcon.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 60px;
}

.search select {
  border-right: 20px solid transparent;
}

/* PRODUCTS */

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.product-item {
  position: relative;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}

.product-item:hover {
  opacity: 0.8;
}

.product-item .warning {
  position: absolute;
  background-color: #fe6a0f;
  padding: 10px 20px;
  left: 30px;
  top: 30px;
  font-size: 16px;
  font-weight: 500;
  column-rule: #fff;
  border-radius: 4px;
}

.product-item .photo {
  text-align: center;
  background-color: #2b2b2b;
  padding-top: 30px;
}

.product-item .photo img {
  max-width: 100%;
}

.product-item .info {
  background-color: #1f1f1f;
  padding: 60px 30px 30px 30px;
  margin-top: -50px;
}

.product-item .product-category {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.product-item .product-name {
  font-family: "Calistoga";
  font-size: 32px;
  margin: 10px 0;
}

.product-item .product-price {
  color: #fe6a0f;
  font-size: 32px;
  font-weight: bold;
}

/* MOBILE */

@media (max-width: 820px) {
  .menuNav {
    display: none;
    background-color: #000;
  }

  .menuNav.active {
    display: flex;
  }

  .leftside,
  header nav {
    flex-direction: column;
    gap: 30px;
  }

  .rightside {
    margin-top: 30px;
  }

  header nav .button {
    padding: 10px 20px;
  }

  header .menu {
    display: flex;
  }

  header nav {
    border: 1px solid #333;
    padding: 10px;
    right: 0;
    position: absolute;
    top: 137px;
  }

  .hero .container {
    flex-direction: column;
  }

  .hero .leftside {
    text-align: center;
    padding-bottom: 40px;
  }

  .hero .rightside {
    padding-bottom: 30px;
  }

  .hero .rightside img {
    height: 300px;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 50px;
  }

  .search {
    padding-bottom: 30px;
  }

  .search .title {
    text-align: center;
  }

  .search .slides {
    flex-direction: column;
    gap: 20px;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  background-color: #1f1f1f;
  height: 239px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: #5f5f5f;
}

.footer-text a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 550px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .footer-container {
    flex-direction: column;
  }

  footer {
    height: 190px;
  }
}

.toast {
  background-color: rgba(255, 100, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  height: 75px;
  border-left: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 30px;
}
